{% extends 'base_minimal.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-sm" style="width: 100%; max-width: 600px;">
                <div class="card-body">
                        <h1 class="card-title text-center mb-4">
                <i class="fas fa-user-plus me-2"></i>Cadastre-se
            </h1>
                       
                        <form action="{{ url_for('cadastro') }}" method="post">
                                <div class="mb-3 input-group">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        <input type="text" class="form-control" id="username" name="username"
                        placeholder="Usuário" required>
                                    </div>
                                <div class="mb-3 input-group">
                                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        <input type="password" class="form-control" id="password" name="password"
                        placeholder="Senha" required>
                                    </div>
                                <div class="mb-3 input-group">
                                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        <input type="password" class="form-control" id="password_confirm"
                        name="password_confirm" placeholder="Confirmar Senha" required>
                                    </div>
                                <button type="submit" class="btn btn-primary w-100 mb-2">
                    <i class="fas fa-sign-in-alt me-2"></i>Cadastrar
                </button>
                            </form>

                        <div class="text-center mt-3">
                                <p>Já tem uma conta? <a href="{{ url_for('login') }}"><i
                            class="fas fa-user-check me-1"></i>Faça Login</a></p>
                            </div>
                    </div>
            </div>
</div>
{% endblock %}